@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="text-center">
    <h1 class="display-4">Hello from New MVC</h1>
    <form action="process" method="post">
        <div class="form-group">
            <label for="Name">Name : </label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="FavColor">Favorite Color</label>
            <input asp-for="FavColor" class="form-control">
            <span asp-validation-for="FavColor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="FavNumber">Fvorite Number</label>
            <input asp-for="FavNumber" class="form-control">
            <span asp-validation-for="FavNumber" class="text-danger"></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-info">
    </form>
</div>
