@model User


<h1>You Did it </h1>


<ul>
    You succeded and this your pet information :
    <li>Name : @Model.Name</li>
    <li>Favorite Color : @Model.FavColor</li>
    <li>Favorite Number : @Model.FavNumber</li>
</ul>